In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import re
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
import tensorflow as tf

Using TensorFlow backend.

In [0]:
s140 = pd.read_csv("/content/10ksentiment140.csv",sep=',',encoding='utf-8')

In [13]:
s140.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 6 columns):
 #   Column                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                               --------------  -----
 0   0                                                                                                                    9999 non-null   int64
 1   1467810369                                                                                                           9999 non-null   int64
 2   Mon Apr 06 22:19:45 PDT 2009                                                                                         9999 non-null   object
 3   NO_QUERY                                                                                                             9999 non-null   object
 4   _TheSpecialOne_                                                                                                      9999 non-null   object
 5   @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D  9999 non-null   object
dtypes: int64(2), object(4)
memory usage: 468.8+ KB